// Colors:
$background-primary: linear-gradient(167.95deg, #03045e 0%, #0077b6 100%);
$background-secondary: #03045e;

// Fonts:
$font-heading: 'Space Grotesk', sans-serif;
$font-body: 'Inter', sans-serif;

// Border Radius
$border-radius: 20px;

// imports
@import 'mixin.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: $font-body;
  animation-duration: 500ms;
  overflow: hidden;
  // outline: 1px solid #f00 !important;
}

body {
  height: 100vh;
  width: 100vw;
  background: $background-primary;

  @include flex_center;
}

.container {
  &__head {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 105px 105px 105px;
    grid-template-columns: 105px 105px 105px;
    margin-bottom: 30px;
  }

  &__logo {
    grid-column: 2 / 3;
    z-index: 1;
    margin-top: 16px;
  }
}
.search {
  &__container {
    height: 210px;
    width: 310px;
    background-color: $background-secondary;

    @include flex_center();
    flex-direction: column;

    gap: 25px;
    border-radius: $border-radius;
    position: relative;

    grid-row: 2/4;
    // &::before {
    //   content: url('../assets/Logo.svg');
    //   position: absolute;
    //   top: -80px;
    // }

    &--inner {
      height: 210px;
      width: 310px;
    }
  }

  &__header {
    text-align: center;
  }

  // text
  &__logo {
    font-family: $font-heading;
  }

  &__text {
    &--sub {
      font-family: $font-body;
      font-weight: 400;
      font-size: 1em;
    }
  }

  &__bar {
    appearance: none;
    border: none;
    height: 35px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    width: 80%;
    padding: 8px 16px;
    color: $background-secondary;
    font-family: $font-body;
    font-weight: 400;

    &:focus {
      outline: none;
    }

    &--group {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: $border-radius;
      justify-content: space-between;
      padding-right: 16px;
    }
  }

  &__button {
    appearance: none;
    background-color: transparent;
    // margin-right: 12px;
    height: 35px;
    width: 10%;
    background-image: url('../assets/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    justify-self: flex-end;
    // background: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__error {
    margin-top: 8px;
    font-family: $font-body;
    font-size: 14px;
    text-align: center;
  }
}

h1,
h2,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.weather {
  position: relative;
  &__result {
    display: grid;
    gap: 1em;
    transition: all 0.3s ease-in-out;
  }

  &__location {
    text-transform: uppercase;
    text-align: center;
    &::before {
      content: url('../assets/Location.svg');
      margin-right: 8px;
    }
  }

  &__icon {
    height: 130px;
    width: 130px;
  }

  &__text {
    &--group {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &--primary {
      font-family: $font-heading;
      font-size: 32px;
    }

    &-small {
      font-size: 24px;
    }
    &--main {
      font-size: 48px;
      text-align: center;
    }

    &--sub {
      margin-top: -5px;
    }

    &--bar {
      display: flex;
      justify-content: space-between;
    }
  }

  &__body {
    &--primary {
      @include flex_center;
      justify-content: space-between;
    }

    &--head,
    &--secondary {
      @include flex_center;
      flex-direction: column;
      gap: 16px;
      & > * {
        width: 100%;
      }
    }
  }
}

.forecast {
  &__container {
    height: 190px;
    width: 310px;
    background-color: #03045e;

    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: $border-radius;
  }

  &__header {
    padding: 12px 0 0 24px;
    font-size: 20px;
    font-weight: bold;
  }
  &__body {
    @include flex_center;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    text-align: center;
  }
  &__icon {
    height: 44px;
  }

  &__card {
    display: grid;
    gap: 8px;
  }
}

.hidden {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  #container {
    width: fit-content;
    @include flex_center;
    flex-direction: column;
    // gap: 32px;
  }

  .weather {
    &__result {
      display: flex;
      margin-top: 16px;
      gap: 48px;
    }

    &__location {
      font-size: 48px;
      margin-bottom: 30px;
      &::before {
      }
    }

    &__body {
      &--primary {
        margin-bottom: 25px;
      }
    }

    &__icon {
      height: 130px;
      width: 130px;
    }

    &__text {
      &--group {
        align-items: center;
        justify-content: center;
      }
    }
  }
}
